.app{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.j7C9tcdV2T2q2dLl4VtZrAHaFN%26pid%3DApi&f=1");
   background-repeat: no-repeat;
   background-size: cover;
 margin: 20px;
 margin-left: 200px;
 margin-right: 200px;
}
.pct{
 
  width: 150px;
  height: 200px;
 border-radius: 50%;
margin-left: 400px;
margin-right: 500px;

}